# Core libraries for data dan machine learning
numpy
pandas
scipy==1.10.1
scikit-learn

# Streamlit untuk interface web
streamlit

# Library tambahan yang dipakai dalam proyek
absl-py==1.4.0
accelerate==1.7.0
aiohttp==3.11.15
albumentations==2.0.7
altair==5.5.0
antlr4-python3-runtime==4.9.3
argon2-cffi==23.1.0
certifi==2025.4.26
cffi==1.17.1
click==8.2.1
cloudpickle==3.1.1
dask==2024.12.1
fastapi==0.95.2        # Contoh jika ada API
fastcore==1.7.29
fastprogress==1.0.3
Flask==3.1.1           # Jika ada backend Flask
geopandas==1.0.1       # Jika ada analisis geospasial
grpcio==1.71.0
h5py==3.13.0
huggingface-hub==0.31.4  # Jika ada model dari Huggingface
Jinja2==3.1.6
joblib==1.5.0
jsonschema==4.23.0
matplotlib==3.8.0
opencv-python          # Jika ada pemrosesan gambar
pillow                 # Untuk image processing
python-dateutil
PyYAML==6.0
scipy==1.10.1
six==1.16.0
tqdm==4.65.0
transformers==4.30.2   # Jika ada model NLP/transformer
urllib3==1.26.15
uvicorn==0.22.0        # Server ASGI jika pakai FastAPI/Starlette
wheel==0.40.0
